@model IEnumerable<QNews.Base.Target>

@{
    ViewBag.Title = "ListJob";
    Layout = "~/Views/Shared/_Ajax.cshtml";
    bool hasAdd = HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Add");
    bool hasEdit = HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Edit");
    bool hasDelete = HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Delete");
    bool hasApprove = HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Approve");
}
@Html.AntiForgeryToken()
<script type="text/javascript">
    $(document).ready(function () {
        registerGridView('#gridItems');
    });
</script>

<div class="grid-container" id="gridItems">
    <table class="gridView" cellspacing="1">
        <tr>
            <th><a href="#Field=ID">ID<span /></a></th>
            <th><a href="#Field=Title">Tên Mục tiêu<span /></a></th>
            <th><a href="#Field=Image">Image<span /></a></th>
            <th><a href="#Field=Descriptions">Mô tả<span /></a></th>
            <th><a href="#Field=Order">STT<span /></a></th>
            <th class="act_view"></th>
            @if (hasEdit)
            {
                <th class="act_edit"></th>
                <th class="act_edit"></th>
                <th class="act_edit"></th>
            }
            @if (hasDelete)
            {
                <th class="act_delete">
                    <a href="#deleteAll" class="deleteAll" title="Xóa danh sách đã chọn">
                        <img src="/Content/Admin/images/gridview/delete.gif" style="border: none" alt="Xóa danh sách đã chọn" />
                    </a>
                </th>
                <th class="act_roles">
                    <input value="" type="checkbox" class="checkAll" />
                </th>
            }
        </tr>
        @foreach (var item in Model)
        {
        <tr title="@item.Title">
            <td>@item.ID</td>
            <td>@Grid.DisplayShowStrike(item.Title, item.Show)</td>
            <td> <img class="add_img" src="@item.Image" alt="@item.Title" /> </td>
            <td>@item.Descriptions</td>
            <td>@item.Order</td>
            <td class="act_view">@Grid.ActionView(item.ID, item.Title)</td>
            @if (hasEdit)
            {
                <td class="act_edit">@Grid.ActionEdit(item.ID, item.Title)</td>
                <td class="act_edit">@Grid.ActionShow(item.ID, item.Title)</td>
                <td class="act_edit">@Grid.ActionHide(item.ID, item.Title)</td>
            }
            @if (hasDelete)
            {
                <td class="act_delete">@Grid.ActionDelete(item.ID, item.Title)</td>
                <td class="act_roles"><input type="checkbox" value="@item.ID" class="check" /></td>
            }
        </tr>
        }
    </table>
    @Html.Raw(ViewBag.PageHtml)
</div>