@{
    ViewBag.Title = "Quản lý kênh rss";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool hasAdd = HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Add");
    bool hasEdit = HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Edit");
    bool hasDelete = HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Delete");
    bool hasApprove = HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Approve");
}
<script type="text/javascript">

    urlLists = '@Url.Action("ListItems", "CloneFeed")';
    urlForm = '@Url.Action("AjaxForm", "CloneFeed")';
    urlPostAction = '@Url.Action("Actions", "CloneFeed")';
    urlView = '@Url.Action("AjaxView", "CloneFeed")';
    formWidth = 800;
    formHeight = 'auto';
    viewWidth = 800;
    viewHeight = 'auto';

    $(document).ready(function () {
        initAjaxLoad(urlLists, "#noderemoveGriditems");

        $("#gridSearch").submit(function () {
            var form = $("#gridSearch");
            window.location.href = '#' + getValueFormMutilSelect(form);
            return false;
        });

        $("#btn_add").click(function () {
            $("#dialog-form").dialog(
				{
				    title: "Thêm mới kênh rss",
				    width: formWidth,
				    height: formHeight
				}
			).load(encodeURI(urlForm + "?do=Add")).dialog("open");
            return false;
        });
    });
</script>

<div class="zone zone-content">
    <h1>Quản lý kênh rss</h1>
    <div class="headear">
        <div class="searchbox">
            <form id="gridSearch">
            <fieldset class="bulk-actions">
                <label for="Keyword">Tên miền:</label>
                <input type="text" name="Keyword" id="Keyword" value="Từ khóa tìm kiếm" onfocus="if (this.value == 'Từ khóa tìm kiếm') this.value = '';" onblur="    if (this.value == '') this.value = 'Từ khóa tìm kiếm';" />
                <label for="SearchIn">Tìm trong:</label>
                <select name="SearchIn" id="SearchIn" class="mutil">
                    <option value="FeedDomainName">Tên miền</option>
                    <option value="FeedTitle">Tên kênh rss</option> 
                </select>
                <button name="submit.Search" type="submit"">Tìm kiếm</button>
            </fieldset>
            </form>
        </div>
        
        <div class="manage">
            @if (hasAdd)
            {
                @Html.ActionLink("Thêm mới kênh rss", "Create", new { }, new { @class = "add button primaryAction", @id = "btn_add" })
            }
        </div>
    </div>
    <div id="noderemoveGriditems">
    
    </div>
</div>