@model IEnumerable<QNews.Models.FeedItem>
@{
    ViewBag.Title = "ListBank";
    Layout = "~/Views/Shared/_Ajax.cshtml";
    bool hasAdd = HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Add");
    bool hasEdit = HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Edit");
    bool hasDelete = HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Delete");
    bool hasApprove = HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Approve");
}
@Html.AntiForgeryToken()
<script type="text/javascript">
    $(document).ready(function () {
        registerGridView('#gridItems');
    });
</script>
<div class="grid-container" id="gridItems">
    <table class="gridView" cellspacing="1">
        <tr>
            <th><a href="#Field=FeedID">ID<span /></a></th>
            <th><a href="#Field=FeedTitle">Tên kênh rss<span /></a></th>
            <th><a href="#Field=CategoryName">Chuyên mục hiển thị<span /></a></th>
            <th><a href="#Field=DomainName">Tên miền<span /></a></th>
            <th><a href="#Field=FeedSource">Url kênh<span /></a></th>
            <th class="act_view"></th>
            @if (hasEdit)
            {
                <th class="act_edit"></th>
            }
            @if (hasDelete)
            {
                <th class="act_delete">
                    <a href="#deleteAll" class="deleteAll" title="Xóa danh sách đã chọn">
                        <img src="/Content/Admin/images/gridview/delete.gif" style="border: none" alt="Xóa danh sách đã chọn" />
                    </a>
                </th>
                <th class="act_roles">
                    <input value="" type="checkbox" class="checkAll" />
                </th>
            }
        </tr>
        @foreach (var item in Model)
        {
            <tr title="@item.FeedTitle">
                <td>@item.FeedID</td>
                <td>@item.FeedTitle</td>
                <td>@item.CategoryName</td>
                <td>@item.FeedDomainName</td>
                <td>@item.FeedSource</td>
                <td class="act_view">@Grid.ActionView(item.FeedID, item.FeedTitle)</td>
                @if (hasEdit)
                {
                    <td class="act_edit">
                        @Grid.ActionEdit(item.FeedID, item.FeedTitle)
                    </td>
                }
                @if (hasDelete)
                {
                    <td class="act_delete">@Grid.ActionDelete(item.FeedID, item.FeedTitle)</td>
                    <td class="act_roles"><input type="checkbox" value="@item.FeedID" class="check" /></td>
                }
            </tr>
        }
    </table>
    @Html.Raw(ViewBag.PageHtml)
</div>
