@{
    ViewBag.Title = "Quản lý dữ liệu xóa bỏ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool hasAdd = HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Add");
    bool hasEdit = HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Edit");
    bool hasDelete = HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Delete");
    bool hasApprove = HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Approve");
}
<script type="text/javascript">

    urlLists = '@Url.Action("ListItems", "CloneNodeRemove")';
    urlForm = '@Url.Action("AjaxForm", "CloneNodeRemove")';
    urlPostAction = '@Url.Action("Actions", "CloneNodeRemove")';
    urlView = '@Url.Action("AjaxView", "CloneNodeRemove")';
    formWidth = 800;
    formHeight = 'auto';
    viewWidth = 800;
    viewHeight = 'auto';

    $(document).ready(function () {
        initAjaxLoad(urlLists, "#noderemoveGriditems");

        $("#gridSearch").submit(function () {
            var form = $("#gridSearch");
            window.location.href = '#' + getValueFormMutilSelect(form);
            return false;
        });

        $("#btn_add").click(function () {
            $("#dialog-form").dialog(
				{
				    title: "Thêm mới dữ liệu xóa bỏ",
				    width: formWidth,
				    height: formHeight
				}
			).load(encodeURI(urlForm + "?do=Add")).dialog("open");
            return false;
        });
    });
</script>

<div class="zone zone-content">
    <h1>Quản lý dữ liệu xóa bỏ</h1>
    <div class="headear">
        <div class="searchbox">
            <form id="gridSearch">
            <fieldset class="bulk-actions">
                <label for="Keyword">Tên miền:</label>
                <input type="text" name="Keyword" id="Keyword" value="Từ khóa tìm kiếm" onfocus="if (this.value == 'Từ khóa tìm kiếm') this.value = '';" onblur="    if (this.value == '') this.value = 'Từ khóa tìm kiếm';" />
                <label for="SearchIn">Tìm trong:</label>
                <select name="SearchIn" id="SearchIn" class="mutil">
                    <option value="DomainName">Xóa theo tên miền</option>
                    <option value="XpathValue">Xpath xóa bỏ</option> 
                </select>
                <button name="submit.Search" type="submit"">Tìm kiếm</button>
            </fieldset>
            </form>
        </div>
        
        <div class="manage">
            @if (hasAdd) { 
                @Html.ActionLink("Thêm mới dữ liệu xóa bỏ", "Create", new {}, new { @class = "add button primaryAction", @id= "btn_add"})
            }
        </div>
    </div>
    <div id="noderemoveGriditems">
    
    </div>
</div>