@model QNews.Base.DocumentScope

@{
    ViewBag.Title = "Xem chi tiết";
    Layout = "~/Views/Shared/_Ajax.cshtml";
}

<fieldset class="forms">
    <table class="tableforms tabledetails" cellspacing="1" width="100%">
        <tr>
            <td style="width:160px;" class="label"><label>Tên chương trình văn bản</label></td>
            <td>
                @Html.DisplayFor(model => model.Title)
            </td>
        </tr>
        

        <tr>
            <td class="label"><label>Mô tả</label></td>
            <td>
                @Html.Raw(Model.Description)
            </td>
        </tr>

        <tr>
            <td class="label"><label>Cho phép hiển thị</label></td>
            <td>
                    @Grid.DisplayShow(Model.Title, Model.Show)
            </td>
        </tr>

        <tr>
            <td class="label"><label>Thứ tự hiển thị</label></td>
            <td>
                @Model.Order
            </td>
        </tr>

        <tr>
            <td class="label"><label>Người tạo</label></td>
            <td>@Model.AspNetUser_CreateBy.UserName</td>
        </tr>

        <tr>
            <td class="label"><label>Ngày tạo</label></td>
            <td>@Model.CreateDate.ToString("dd/MM/yyyy hh:mm:ss tt")</td>
        </tr>

        <tr>
            <td class="label"><label>Người sửa cuối</label></td>
            <td>@Model.AspNetUser_ModifyBy.UserName</td>
        </tr>

        <tr>
            <td class="label"><label>Ngày sửa</label></td>
            <td>@Model.ModifyDate.ToString("dd/MM/yyyy hh:mm:ss tt")</td>
        </tr>
    </table>
</fieldset>
